<% include ./partials/header%>


<% if (!user) { %>
<div class="container" id="login">

	<p id="loginPara">Welcome! Please log in with<a href="/login/facebook"> facebook</a>.</p>
</div>

<% } else { %>
<div class="container" id="login">

	<p>Hello, <%= user.username %>. View your <a href="/profile">profile</a>.</p>


</div>
<% } %>


<% include ./partials/footer%>

